<header class="text-center">
  <img src="{{imageLink}}" alt="{{alt}}" width="{{width}}" height="{{height}}" />
  <h1>Eat-Da-Burger!</h1>
</header><br>

{{!-- Lists un-devoured Burgers --}}
{{!-- <h2>Un-devoured Burgers!</h2> --}}

<main class="container">
  <section class="row justify-content-center">
    <div class="text-left col-md-4">
      {{#each burgers}}
      {{#unless devoured}}
      <p class="centerText">
        {{id}}. {{burger_name}}
        <button class="change-devour btn btn-light buttonPosition" data-id="{{id}}" data-newdevour="true">
          Devour!
        </button>
      </p>

      {{/unless}}
      {{/each}}
    </div>

    {{!-- <h2>Devoured Burgers!</h2> --}}
    <div class="text-right col-md-4">
      {{#each burgers}}
      {{#if devoured}}
      <p class="change-devour" data-id="{{id}}" data-newdevour="false">
        {{id}}. {{burger_name}}
      </p>
      {{/if}}
      {{/each}}
    </div><br>

  </section><br><br>

  <form class="row justify-content-center">
    <div class="form-group col-md-6 text-center">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea><br>
      <button type="submit" class="btn btn-primary">Submit</button><br>
      <label for="exampleFormControlTextarea1">Enter a burger you want to eat Click the "Submit" button</label>
    </div>
  </form>

</main>



{{!-- <form class="centerText">
  <textarea> </textarea><br><br>
  <input class="submitButton" type="submit" value="Submit">
  <p>Enter a burger you want to eat Click the "Submit" button</p>

</form> --}}